@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --primary-color: #0f0;
  --background-color: rgba(0, 0, 0, 0.8);
  --text-color: #0f0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'VT323', monospace;
  color: var(--text-color);
  line-height: 1.6;
  background-color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

html, body, div#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}